Mills College

CS 141-241, Machine Learning Fall 2018

Instructor: Jahan Ghofraniha

Final Project

Due date: 12/18/2018

Ian de Heer and Juliana de Heer

### Helpful Resources:


*   Data description: https://gist.github.com/jeremystan/c3b39d947d9b88b3ccff3147dbcf6c6b
*   panyao's Solution: https://github.com/panyao/instacart-solution
  * panyao's EDA: https://github.com/panyao/instacart-solution/blob/master/exploration/Data%20Exploratory%20for%20Instacart%20Market%20Basket%20Analysis.ipynb
*   Phillipp's EDA: https://www.kaggle.com/philippsp/exploratory-analysis-instacart/notebook
*   Logistic Regression Solution: https://towardsdatascience.com/whats-in-your-customer-s-next-shopping-cart-73d64287ec53
*   Someone's approach to handling the raw dataset: https://www.kaggle.com/c/instacart-market-basket-analysis/discussion/34727
*   Deep Learning Solution (3rd place): https://www.kaggle.com/c/instacart-market-basket-analysis/discussion/38097
*   Data Engineering + Boosting Solution (2nd place): https://www.kaggle.com/c/instacart-market-basket-analysis/discussion/38143
  * Interview: http://blog.kaggle.com/2017/09/21/instacart-market-basket-analysis-winners-interview-2nd-place-kazuki-onodera/
*   Relationships between csv files: https://www.kaggle.com/c/instacart-market-basket-analysis/discussion/33128
*   Solutions summary: https://www.kaggle.com/c/instacart-market-basket-analysis/discussion/38130

In [3]:
import pandas as pd

aisles_data = pd.read_csv('aisles.csv')
print("Number of aisles: ", len(aisles_data.aisle_id.unique()))
aisles_data.head()

Number of aisles:  134

   aisle_id                       aisle
0         1       prepared soups salads
1         2           specialty cheeses
2         3         energy granola bars
3         4               instant foods
4         5  marinades meat preparation

In [4]:
departments_data = pd.read_csv('departments.csv')
print("Number of departments: ", len(departments_data.department_id.unique()))
departments_data.head()

Number of departments:  21

   department_id department
0              1     frozen
1              2      other
2              3     bakery
3              4    produce
4              5    alcohol

In [5]:
orders_data = pd.read_csv('orders.csv')
print("Number of orders: ", len(orders_data.order_id.unique()))
print("Number of customers: ", len(orders_data.user_id.unique()))
orders_data.head()

Number of orders:  3421083
Number of customers:  206209

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [6]:
products_data = pd.read_csv('products.csv')
print("Number of products: ", len(products_data.product_id.unique()))
products_data.head()

Number of products:  49688

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,2,All-Seasons Salt,104,13
2,3,Robust Golden Unsweetened Oolong Tea,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,5,Green Chile Anytime Sauce,5,13

In [7]:
sample = pd.read_csv('sample_submission.csv')
sample.head()

   order_id     products
0        17  39276 29259
1        34  39276 29259
2       137  39276 29259
3       182  39276 29259
4       257  39276 29259

In [8]:
op_prior = pd.read_csv('order_products__prior.csv')
print(op_prior.shape)
op_prior.head()

(32434489, 4)

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [9]:
op_train = pd.read_csv('order_products__train.csv')
print(op_train.shape)
op_train.head()

(1384617, 4)

   order_id  product_id  add_to_cart_order  reordered
0         1       49302                  1          1
1         1       11109                  2          1
2         1       10246                  3          0
3         1       49683                  4          0
4         1       43633                  5          1

In [11]:
prior_products = pd.merge(op_prior,products_data, on="product_id", how="inner")
prior_products.drop('product_name', inplace=True, axis=1)
print("prior_products: ", prior_products.shape)
prior_products.head()

prior_products:  (32434489, 6)

   order_id  product_id  add_to_cart_order  reordered  aisle_id  department_id
0         2       33120                  1          1        86             16
1        26       33120                  5          0        86             16
2       120       33120                 13          0        86             16
3       327       33120                  5          1        86             16
4       390       33120                 28          1        86             16

In [12]:
prior_products_orders = pd.merge(prior_products,orders_data, on="order_id", how="inner")
print("prior_products_orders: ", prior_products_orders.shape)
prior_products_orders.head()

prior_products_orders:  (32434489, 12)

,order_id,product_id,add_to_cart_order,reordered,aisle_id,department_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2,33120,1,1,86,16,202279,prior,3,5,9,8.0
1,2,28985,2,1,83,4,202279,prior,3,5,9,8.0
2,2,9327,3,0,104,13,202279,prior,3,5,9,8.0
3,2,45918,4,1,19,13,202279,prior,3,5,9,8.0
4,2,30035,5,0,17,13,202279,prior,3,5,9,8.0

In [26]:
testdf = prior_products_orders.loc[prior_products_orders['user_id'] < 5].sort_values(['user_id', 'order_number', 'product_id', 'department_id', 'aisle_id'])
testdf = testdf[['eval_set', 'user_id', 'order_id', 'order_number', 'order_dow', 'order_hour_of_day', 'days_since_prior_order', 'product_id', 'aisle_id', 'department_id', 'add_to_cart_order', 'reordered']]
testdf.head(500)

,eval_set,user_id,order_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,aisle_id,department_id,add_to_cart_order,reordered
22667633,prior,1,2539329,1,2,8,NaN,196,77,7,1,0
22667636,prior,1,2539329,1,2,8,NaN,12427,23,19,3,0
22667634,prior,1,2539329,1,2,8,NaN,14084,91,16,2,0
22667635,prior,1,2539329,1,2,8,NaN,26088,23,19,4,0
22667637,prior,1,2539329,1,2,8,NaN,26405,54,17,5,0
10549933,prior,1,2398795,2,3,7,15.0,196,77,7,1,1
10549936,prior,1,2398795,2,3,7,15.0,10258,117,19,2,0
10549937,prior,1,2398795,2,3,7,15.0,12427,23,19,3,1
10549934,prior,1,2398795,2,3,7,15.0,13032,121,14,6,0
10549932,prior,1,2398795,2,3,7,15.0,13176,24,4,4,0
10549935,prior,1,2398795,2,3,7,15.0,26088,23,19,5,1
22586600,prior,1,473747,3,3,12,21.0,196,77,7,1,1
22586602,prior,1,473747,3,3,12,21.0,10258,117,19,3,1
22586604,prior,1,473747,3,3,12,21.0,12427,23,19,2,1
22586603,prior,1,473747,3,3,12,21.0,25133,21,16,4,0
22586601,prior,1,473747,3,3,12,21.0,30450,88,13,5,0
22657054,prior,1,2254736,4,4,7,29.0,196,77,7,1,1
22657055,prior,1,2254736,4,4,7,29.0,10258,117,19,3,1
22657057,prior,1,2254736,4,4,7,29.0,12427,23,19,2,1
22657056,prior,1,2254736,4,4,7,29.0,25133,21,16,4,1
22657058,prior,1,2254736,4,4,7,29.0,26405,54,17,5,1
8552222,prior,1,431534,5,4,15,28.0,196,77,7,1,1
8552226,prior,1,431534,5,4,15,28.0,10258,117,19,3,1
8552225,prior,1,431534,5,4,15,28.0,10326,24,4,5,0
8552228,prior,1,431534,5,4,15,28.0,12427,23,19,2,1
8552221,prior,1,431534,5,4,15,28.0,13176,24,4,8,1
8552224,prior,1,431534,5,4,15,28.0,17122,24,4,6,0
8552227,prior,1,431534,5,4,15,28.0,25133,21,16,4,1
8552223,prior,1,431534,5,4,15,28.0,41787,24,4,7,0
22700366,prior,1,3367565,6,2,7,19.0,196,77,7,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...
6564051,prior,3,676467,10,3,16,17.0,47766,24,4,3,1
4119106,prior,3,521107,11,0,18,11.0,17668,91,16,5,1
4119105,prior,3,521107,11,0,18,11.0,21903,123,4,3,1
4119109,prior,3,521107,11,0,18,11.0,39190,91,16,1,1
4119108,prior,3,521107,11,0,18,11.0,43961,123,4,4,1
4119107,prior,3,521107,11,0,18,11.0,47766,24,4,2,1
4854654,prior,3,1402502,12,1,15,15.0,18599,4,9,2,1
4854650,prior,3,1402502,12,1,15,15.0,21903,123,4,4,1
4854655,prior,3,1402502,12,1,15,15.0,23650,115,7,3,1
4854653,prior,3,1402502,12,1,15,15.0,24810,78,19,6,1
4854652,prior,3,1402502,12,1,15,15.0,39190,91,16,1,1
4854651,prior,3,1402502,12,1,15,15.0,47766,24,4,5,1
28283696,prior,4,3343014,1,6,11,NaN,2707,74,17,4,0
28283697,prior,4,3343014,1,6,11,NaN,7350,115,7,2,0
28283698,prior,4,3343014,1,6,11,NaN,35469,38,1,3,0
28283695,prior,4,3343014,1,6,11,NaN,36606,112,3,1,0
32422463,prior,4,2030307,2,4,11,19.0,7160,111,17,2,0
32422462,prior,4,2030307,2,4,11,19.0,42329,28,5,1,0
28250032,prior,4,691089,3,4,15,21.0,1200,69,15,1,0
28250033,prior,4,691089,3,4,15,21.0,11865,38,1,5,0
28250034,prior,4,691089,3,4,15,21.0,17769,77,7,2,0
28250031,prior,4,691089,3,4,15,21.0,19057,24,4,7,0
28250035,prior,4,691089,3,4,15,21.0,35469,38,1,6,1
28250030,prior,4,691089,3,4,15,21.0,37646,24,4,4,0
28250036,prior,4,691089,3,4,15,21.0,43704,128,3,3,0
7767688,prior,4,94891,4,5,13,15.0,22199,134,5,1,0
7767687,prior,4,94891,4,5,13,15.0,25146,31,7,2,0
29567244,prior,4,2557754,5,5,13,0.0,21573,67,20,3,0
29567245,prior,4,2557754,5,5,13,0.0,25623,67,20,2,0
29567246,prior,4,2557754,5,5,13,0.0,26576,107,19,1,0

In [29]:
import numpy as np

testdf['user_product'] = testdf.product_id + testdf.user_id.astype(np.int64) * 100000
testdf['total_orders'] = testdf.groupby(['user_product'])['order_number'].transform('count')
# reorder_total
# order ratio
# testdf['total_orders'] = testdf.groupby('user_product').count()
print(testdf.shape)
testdf.head(360)
# df.groupby('topping')['discount'].apply(lambda x: x.count())

# userXproduct.columns = ['nb_orders', 'last_order_id', 'sum_pos_in_cart', 'first_order', 'last_order', 
#                             'rate_since_first_order', 'weight', 'weight_day', 'weight_exp']
#     userXproduct.nb_orders = userXproduct.nb_orders.astype(np.int16)
#     userXproduct.last_order_id = userXproduct.last_order_id.map(lambda x: x[1]).astype(np.int32)
#     userXproduct.sum_pos_in_cart = userXproduct.sum_pos_in_cart.astype(np.int16)
#     userXproduct.rate_since_first_order = userXproduct.nb_orders/(userXproduct.rate_since_first_order-userXproduct.first_order+1).astype(np.float32)
    
#     userXproduct.first_order = userXproduct.first_order.astype(np.int16)
#     userXproduct.last_order = userXproduct.last_order.astype(np.int16)
#     userXproduct.weight = userXproduct.weight.astype(np.float32)
#     userXproduct.weight_day = userXproduct.weight_day.astype(np.float32)
#     userXproduct.weight_exp = userXproduct.weight_exp.astype(np.float32)

(360, 14)

,eval_set,user_id,order_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,aisle_id,department_id,add_to_cart_order,reordered,user_product,total_orders
22667633,prior,1,2539329,1,2,8,NaN,196,77,7,1,0,100196,10
22667636,prior,1,2539329,1,2,8,NaN,12427,23,19,3,0,112427,10
22667634,prior,1,2539329,1,2,8,NaN,14084,91,16,2,0,114084,1
22667635,prior,1,2539329,1,2,8,NaN,26088,23,19,4,0,126088,2
22667637,prior,1,2539329,1,2,8,NaN,26405,54,17,5,0,126405,2
10549933,prior,1,2398795,2,3,7,15.0,196,77,7,1,1,100196,10
10549936,prior,1,2398795,2,3,7,15.0,10258,117,19,2,0,110258,9
10549937,prior,1,2398795,2,3,7,15.0,12427,23,19,3,1,112427,10
10549934,prior,1,2398795,2,3,7,15.0,13032,121,14,6,0,113032,3
10549932,prior,1,2398795,2,3,7,15.0,13176,24,4,4,0,113176,2
10549935,prior,1,2398795,2,3,7,15.0,26088,23,19,5,1,126088,2
22586600,prior,1,473747,3,3,12,21.0,196,77,7,1,1,100196,10
22586602,prior,1,473747,3,3,12,21.0,10258,117,19,3,1,110258,9
22586604,prior,1,473747,3,3,12,21.0,12427,23,19,2,1,112427,10
22586603,prior,1,473747,3,3,12,21.0,25133,21,16,4,0,125133,8
22586601,prior,1,473747,3,3,12,21.0,30450,88,13,5,0,130450,1
22657054,prior,1,2254736,4,4,7,29.0,196,77,7,1,1,100196,10
22657055,prior,1,2254736,4,4,7,29.0,10258,117,19,3,1,110258,9
22657057,prior,1,2254736,4,4,7,29.0,12427,23,19,2,1,112427,10
22657056,prior,1,2254736,4,4,7,29.0,25133,21,16,4,1,125133,8
22657058,prior,1,2254736,4,4,7,29.0,26405,54,17,5,1,126405,2
8552222,prior,1,431534,5,4,15,28.0,196,77,7,1,1,100196,10
8552226,prior,1,431534,5,4,15,28.0,10258,117,19,3,1,110258,9
8552225,prior,1,431534,5,4,15,28.0,10326,24,4,5,0,110326,1
8552228,prior,1,431534,5,4,15,28.0,12427,23,19,2,1,112427,10
8552221,prior,1,431534,5,4,15,28.0,13176,24,4,8,1,113176,2
8552224,prior,1,431534,5,4,15,28.0,17122,24,4,6,0,117122,1
8552227,prior,1,431534,5,4,15,28.0,25133,21,16,4,1,125133,8
8552223,prior,1,431534,5,4,15,28.0,41787,24,4,7,0,141787,1
22700366,prior,1,3367565,6,2,7,19.0,196,77,7,1,1,100196,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6564051,prior,3,676467,10,3,16,17.0,47766,24,4,3,1,347766,9
4119106,prior,3,521107,11,0,18,11.0,17668,91,16,5,1,317668,5
4119105,prior,3,521107,11,0,18,11.0,21903,123,4,3,1,321903,8
4119109,prior,3,521107,11,0,18,11.0,39190,91,16,1,1,339190,10
4119108,prior,3,521107,11,0,18,11.0,43961,123,4,4,1,343961,4
4119107,prior,3,521107,11,0,18,11.0,47766,24,4,2,1,347766,9
4854654,prior,3,1402502,12,1,15,15.0,18599,4,9,2,1,318599,4
4854650,prior,3,1402502,12,1,15,15.0,21903,123,4,4,1,321903,8
4854655,prior,3,1402502,12,1,15,15.0,23650,115,7,3,1,323650,2
4854653,prior,3,1402502,12,1,15,15.0,24810,78,19,6,1,324810,3
4854652,prior,3,1402502,12,1,15,15.0,39190,91,16,1,1,339190,10
4854651,prior,3,1402502,12,1,15,15.0,47766,24,4,5,1,347766,9
28283696,prior,4,3343014,1,6,11,NaN,2707,74,17,4,0,402707,1
28283697,prior,4,3343014,1,6,11,NaN,7350,115,7,2,0,407350,1
28283698,prior,4,3343014,1,6,11,NaN,35469,38,1,3,0,435469,2
28283695,prior,4,3343014,1,6,11,NaN,36606,112,3,1,0,436606,1
32422463,prior,4,2030307,2,4,11,19.0,7160,111,17,2,0,407160,1
32422462,prior,4,2030307,2,4,11,19.0,42329,28,5,1,0,442329,1
28250032,prior,4,691089,3,4,15,21.0,1200,69,15,1,0,401200,1
28250033,prior,4,691089,3,4,15,21.0,11865,38,1,5,0,411865,1
28250034,prior,4,691089,3,4,15,21.0,17769,77,7,2,0,417769,1
28250031,prior,4,691089,3,4,15,21.0,19057,24,4,7,0,419057,1
28250035,prior,4,691089,3,4,15,21.0,35469,38,1,6,1,435469,2
28250030,prior,4,691089,3,4,15,21.0,37646,24,4,4,0,437646,1
28250036,prior,4,691089,3,4,15,21.0,43704,128,3,3,0,443704,1
7767688,prior,4,94891,4,5,13,15.0,22199,134,5,1,0,422199,1
7767687,prior,4,94891,4,5,13,15.0,25146,31,7,2,0,425146,1
29567244,prior,4,2557754,5,5,13,0.0,21573,67,20,3,0,421573,1
29567245,prior,4,2557754,5,5,13,0.0,25623,67,20,2,0,425623,1
29567246,prior,4,2557754,5,5,13,0.0,26576,107,19,1,0,426576,1

In [36]:
testdf['reorder_total'] = testdf.groupby(['user_product'])['reordered'].transform('sum')
testdf['no_of_orders'] = testdf.groupby(['user_id'])['order_number'].transform('max')
testdf['order_ratio'] = (testdf['reorder_total'] + 1) / testdf['no_of_orders']
testdf.head(360)

,eval_set,user_id,order_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,aisle_id,department_id,add_to_cart_order,reordered,user_product,total_orders,reorder_total,order_ratio,no_of_orders
22667633,prior,1,2539329,1,2,8,NaN,196,77,7,1,0,100196,10,9,1.000000,10
22667636,prior,1,2539329,1,2,8,NaN,12427,23,19,3,0,112427,10,9,1.000000,10
22667634,prior,1,2539329,1,2,8,NaN,14084,91,16,2,0,114084,1,0,0.100000,10
22667635,prior,1,2539329,1,2,8,NaN,26088,23,19,4,0,126088,2,1,0.200000,10
22667637,prior,1,2539329,1,2,8,NaN,26405,54,17,5,0,126405,2,1,0.200000,10
10549933,prior,1,2398795,2,3,7,15.0,196,77,7,1,1,100196,10,9,1.000000,10
10549936,prior,1,2398795,2,3,7,15.0,10258,117,19,2,0,110258,9,8,0.900000,10
10549937,prior,1,2398795,2,3,7,15.0,12427,23,19,3,1,112427,10,9,1.000000,10
10549934,prior,1,2398795,2,3,7,15.0,13032,121,14,6,0,113032,3,2,0.300000,10
10549932,prior,1,2398795,2,3,7,15.0,13176,24,4,4,0,113176,2,1,0.200000,10
10549935,prior,1,2398795,2,3,7,15.0,26088,23,19,5,1,126088,2,1,0.200000,10
22586600,prior,1,473747,3,3,12,21.0,196,77,7,1,1,100196,10,9,1.000000,10
22586602,prior,1,473747,3,3,12,21.0,10258,117,19,3,1,110258,9,8,0.900000,10
22586604,prior,1,473747,3,3,12,21.0,12427,23,19,2,1,112427,10,9,1.000000,10
22586603,prior,1,473747,3,3,12,21.0,25133,21,16,4,0,125133,8,7,0.800000,10
22586601,prior,1,473747,3,3,12,21.0,30450,88,13,5,0,130450,1,0,0.100000,10
22657054,prior,1,2254736,4,4,7,29.0,196,77,7,1,1,100196,10,9,1.000000,10
22657055,prior,1,2254736,4,4,7,29.0,10258,117,19,3,1,110258,9,8,0.900000,10
22657057,prior,1,2254736,4,4,7,29.0,12427,23,19,2,1,112427,10,9,1.000000,10
22657056,prior,1,2254736,4,4,7,29.0,25133,21,16,4,1,125133,8,7,0.800000,10
22657058,prior,1,2254736,4,4,7,29.0,26405,54,17,5,1,126405,2,1,0.200000,10
8552222,prior,1,431534,5,4,15,28.0,196,77,7,1,1,100196,10,9,1.000000,10
8552226,prior,1,431534,5,4,15,28.0,10258,117,19,3,1,110258,9,8,0.900000,10
8552225,prior,1,431534,5,4,15,28.0,10326,24,4,5,0,110326,1,0,0.100000,10
8552228,prior,1,431534,5,4,15,28.0,12427,23,19,2,1,112427,10,9,1.000000,10
8552221,prior,1,431534,5,4,15,28.0,13176,24,4,8,1,113176,2,1,0.200000,10
8552224,prior,1,431534,5,4,15,28.0,17122,24,4,6,0,117122,1,0,0.100000,10
8552227,prior,1,431534,5,4,15,28.0,25133,21,16,4,1,125133,8,7,0.800000,10
8552223,prior,1,431534,5,4,15,28.0,41787,24,4,7,0,141787,1,0,0.100000,10
22700366,prior,1,3367565,6,2,7,19.0,196,77,7,1,1,100196,10,9,1.000000,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6564051,prior,3,676467,10,3,16,17.0,47766,24,4,3,1,347766,9,8,0.750000,12
4119106,prior,3,521107,11,0,18,11.0,17668,91,16,5,1,317668,5,4,0.416667,12
4119105,prior,3,521107,11,0,18,11.0,21903,123,4,3,1,321903,8,7,0.666667,12
4119109,prior,3,521107,11,0,18,11.0,39190,91,16,1,1,339190,10,9,0.833333,12
4119108,prior,3,521107,11,0,18,11.0,43961,123,4,4,1,343961,4,3,0.333333,12
4119107,prior,3,521107,11,0,18,11.0,47766,24,4,2,1,347766,9,8,0.750000,12
4854654,prior,3,1402502,12,1,15,15.0,18599,4,9,2,1,318599,4,3,0.333333,12
4854650,prior,3,1402502,12,1,15,15.0,21903,123,4,4,1,321903,8,7,0.666667,12
4854655,prior,3,1402502,12,1,15,15.0,23650,115,7,3,1,323650,2,1,0.166667,12
4854653,prior,3,1402502,12,1,15,15.0,24810,78,19,6,1,324810,3,2,0.250000,12
4854652,prior,3,1402502,12,1,15,15.0,39190,91,16,1,1,339190,10,9,0.833333,12
4854651,prior,3,1402502,12,1,15,15.0,47766,24,4,5,1,347766,9,8,0.750000,12
28283696,prior,4,3343014,1,6,11,NaN,2707,74,17,4,0,402707,1,0,0.200000,5
28283697,prior,4,3343014,1,6,11,NaN,7350,115,7,2,0,407350,1,0,0.200000,5
28283698,prior,4,3343014,1,6,11,NaN,35469,38,1,3,0,435469,2,1,0.400000,5
28283695,prior,4,3343014,1,6,11,NaN,36606,112,3,1,0,436606,1,0,0.200000,5
32422463,prior,4,2030307,2,4,11,19.0,7160,111,17,2,0,407160,1,0,0.200000,5
32422462,prior,4,2030307,2,4,11,19.0,42329,28,5,1,0,442329,1,0,0.200000,5
28250032,prior,4,691089,3,4,15,21.0,1200,69,15,1,0,401200,1,0,0.200000,5
28250033,prior,4,691089,3,4,15,21.0,11865,38,1,5,0,411865,1,0,0.200000,5
28250034,prior,4,691089,3,4,15,21.0,17769,77,7,2,0,417769,1,0,0.200000,5
28250031,prior,4,691089,3,4,15,21.0,19057,24,4,7,0,419057,1,0,0.200000,5
28250035,prior,4,691089,3,4,15,21.0,35469,38,1,6,1,435469,2,1,0.400000,5
28250030,prior,4,691089,3,4,15,21.0,37646,24,4,4,0,437646,1,0,0.200000,5
28250036,prior,4,691089,3,4,15,21.0,43704,128,3,3,0,443704,1,0,0.200000,5
7767688,prior,4,94891,4,5,13,15.0,22199,134,5,1,0,422199,1,0,0.200000,5
7767687,prior,4,94891,4,5,13,15.0,25146,31,7,2,0,425146,1,0,0.200000,5
29567244,prior,4,2557754,5,5,13,0.0,21573,67,20,3,0,421573,1,0,0.200000,5
29567245,prior,4,2557754,5,5,13,0.0,25623,67,20,2,0,425623,1,0,0.200000,5
29567246,prior,4,2557754,5,5,13,0.0,26576,107,19,1,0,426576,1,0,0.200000,5

In [12]:
df2 = pd.merge(df1, orders_data, on='order_id')
print(df2.shape)
df2.head()

(32434489, 13)

,order_id,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2,33120,1,1,Organic Egg Whites,86,16,202279,prior,3,5,9,8.0
1,2,28985,2,1,Michigan Organic Kale,83,4,202279,prior,3,5,9,8.0
2,2,9327,3,0,Garlic Powder,104,13,202279,prior,3,5,9,8.0
3,2,45918,4,1,Coconut Butter,19,13,202279,prior,3,5,9,8.0
4,2,30035,5,0,Natural Sweetener,17,13,202279,prior,3,5,9,8.0

In [13]:
df3 = pd.merge(df2, departments_data, on='department_id')
print(df3.shape)
df3.head()

(32434489, 14)

,order_id,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,department
0,2,33120,1,1,Organic Egg Whites,86,16,202279,prior,3,5,9,8.0,dairy eggs
1,26,33120,5,0,Organic Egg Whites,86,16,153404,prior,2,0,16,7.0,dairy eggs
2,26,35951,1,0,Organic Unsweetened Almond Milk,91,16,153404,prior,2,0,16,7.0,dairy eggs
3,120,33120,13,0,Organic Egg Whites,86,16,23750,prior,11,6,8,10.0,dairy eggs
4,120,31323,7,0,Light Wisconsin String Cheese,21,16,23750,prior,11,6,8,10.0,dairy eggs

In [14]:
df4 = pd.merge(df3, aisles_data, on='aisle_id')
print(df4.shape)
df4.head()

(32434489, 15)

,order_id,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,department,aisle
0,2,33120,1,1,Organic Egg Whites,86,16,202279,prior,3,5,9,8.0,dairy eggs,eggs
1,26,33120,5,0,Organic Egg Whites,86,16,153404,prior,2,0,16,7.0,dairy eggs,eggs
2,120,33120,13,0,Organic Egg Whites,86,16,23750,prior,11,6,8,10.0,dairy eggs,eggs
3,327,33120,5,1,Organic Egg Whites,86,16,58707,prior,21,6,9,8.0,dairy eggs,eggs
4,390,33120,28,1,Organic Egg Whites,86,16,166654,prior,48,0,12,9.0,dairy eggs,eggs

In [15]:
import numpy as np

# to make the output stable across runs
np.random.seed(42)

# To plot pretty figures
#import matplotlib
import matplotlib.pyplot as plt
plt.rcParams['axes.labelsize'] = 14
plt.rcParams['xtick.labelsize'] = 12
plt.rcParams['ytick.labelsize'] = 12

In [16]:
print(df4.shape)
df = df4[['eval_set', 'user_id', 'order_id', 'order_number', 'order_dow', 'order_hour_of_day', 'days_since_prior_order', 'product_id', 'product_name', 'aisle_id', 'aisle', 'department_id', 'department', 'add_to_cart_order', 'reordered']]
print(df.shape)

df.head(30)

(32434489, 15)
(32434489, 15)

,eval_set,user_id,order_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,product_name,aisle_id,aisle,department_id,department,add_to_cart_order,reordered
0,prior,202279,2,3,5,9,8.0,33120,Organic Egg Whites,86,eggs,16,dairy eggs,1,1
1,prior,153404,26,2,0,16,7.0,33120,Organic Egg Whites,86,eggs,16,dairy eggs,5,0
2,prior,23750,120,11,6,8,10.0,33120,Organic Egg Whites,86,eggs,16,dairy eggs,13,0
3,prior,58707,327,21,6,9,8.0,33120,Organic Egg Whites,86,eggs,16,dairy eggs,5,1
4,prior,166654,390,48,0,12,9.0,33120,Organic Egg Whites,86,eggs,16,dairy eggs,28,1
5,prior,180135,537,15,2,8,3.0,33120,Organic Egg Whites,86,eggs,16,dairy eggs,2,1
6,prior,193223,582,6,2,19,10.0,33120,Organic Egg Whites,86,eggs,16,dairy eggs,7,1
7,prior,91030,608,11,3,21,12.0,33120,Organic Egg Whites,86,eggs,16,dairy eggs,5,1
8,prior,37804,623,63,3,12,3.0,33120,Organic Egg Whites,86,eggs,16,dairy eggs,1,1
9,prior,108932,689,16,1,13,3.0,33120,Organic Egg Whites,86,eggs,16,dairy eggs,4,1
10,prior,108932,689,16,1,13,3.0,35921,Organic Large Grade A Brown Eggs,86,eggs,16,dairy eggs,3,1
11,prior,57362,726,25,2,17,7.0,33120,Organic Egg Whites,86,eggs,16,dairy eggs,3,1
12,prior,57362,726,25,2,17,7.0,32655,Organic Large Grade AA Brown Eggs,86,eggs,16,dairy eggs,5,1
13,prior,73968,771,16,0,17,7.0,33120,Organic Egg Whites,86,eggs,16,dairy eggs,29,1
14,prior,132856,800,3,5,7,3.0,33120,Organic Egg Whites,86,eggs,16,dairy eggs,3,1
15,prior,160657,901,31,1,23,8.0,33120,Organic Egg Whites,86,eggs,16,dairy eggs,3,1
16,prior,108796,1005,11,2,14,6.0,33120,Organic Egg Whites,86,eggs,16,dairy eggs,5,1
17,prior,30502,1097,5,4,0,8.0,33120,Organic Egg Whites,86,eggs,16,dairy eggs,14,1
18,prior,113928,1193,12,4,21,9.0,33120,Organic Egg Whites,86,eggs,16,dairy eggs,5,1
19,prior,29456,1300,6,4,9,20.0,33120,Organic Egg Whites,86,eggs,16,dairy eggs,1,1
20,prior,25085,1887,78,1,10,3.0,33120,Organic Egg Whites,86,eggs,16,dairy eggs,6,1
21,prior,108338,2082,3,3,13,10.0,33120,Organic Egg Whites,86,eggs,16,dairy eggs,20,0
22,prior,108338,2082,3,3,13,10.0,11520,Large Alfresco Eggs,86,eggs,16,dairy eggs,3,0
23,prior,67308,2357,11,5,12,9.0,33120,Organic Egg Whites,86,eggs,16,dairy eggs,6,1
24,prior,20944,2551,54,6,18,4.0,33120,Organic Egg Whites,86,eggs,16,dairy eggs,6,1
25,prior,37557,2652,15,1,14,21.0,33120,Organic Egg Whites,86,eggs,16,dairy eggs,1,1
26,prior,168005,2846,31,4,15,15.0,33120,Organic Egg Whites,86,eggs,16,dairy eggs,10,1
27,prior,168005,2846,31,4,15,15.0,30233,Organic Large Brown Grade AA Cage Free Eggs,86,eggs,16,dairy eggs,11,1
28,prior,173056,2929,4,1,10,21.0,33120,Organic Egg Whites,86,eggs,16,dairy eggs,1,0
29,prior,2555,3031,21,6,9,6.0,33120,Organic Egg Whites,86,eggs,16,dairy eggs,2,1

In [17]:
# data = pd.DataFrame()
# print(df[0])
print(df.iloc[0])

# for index, row in df.iterrows():
#     print(row["user_id"], row["product_id"])
# for row in df.itertuples()[:3]:
#     print(row)
# for row in df.itertuples(index=True, name='Pandas')[:3]:
#     print getattr(row, "user_id"), getattr(row, "product_id")
#     if row[user_id]+

eval_set                               prior
user_id                               202279
order_id                                   2
order_number                               3
order_dow                                  5
order_hour_of_day                          9
days_since_prior_order                     8
product_id                             33120
product_name              Organic Egg Whites
aisle_id                                  86
aisle                                   eggs
department_id                             16
department                        dairy eggs
add_to_cart_order                          1
reordered                                  1
Name: 0, dtype: object

In [ ]:
# print(df.loc[:5])
(df.groupby(['eval_set', 'user_id', 'product_id']).sum()
 .loc[lambda df: df.user_id < 100])

In [ ]:
from sklearn.model_selection import train_test_split

X = df.drop('Class', axis=1)  
y = dataset['Class']  





draft:
    df2 = pd.merge(op_prior,products_data, on="product_id", how="inner")
print("df2: ", df2.shape)
df3 = op_prior.join(products_data, on='product_id', rsuffix='_')
print("df3: ", df3.shape)
#    priors.drop('order_id_', inplace=True, axis=1)