Mills College

CS 141-241, Machine Learning Fall 2018

Instructor: Jahan Ghofraniha

Final Project

Due date: 12/18/2018

Ian de Heer and Juliana de Heer

<h1>Instacart Project</h1>

<h3>Executive Summary</h3>
.
.
.

<h3>Introduction/Background</h3>
.
.
.

<h3>Survey of other projects</h3>

2nd place submission by ONODERA, Kazuki Onodera, a data scientist working for Yahoo!JAPAN. Used XGBoost to create 2 gradient boosted tree models. 1 predicting reorders (which previously purchased products will be in the next order? depends on the user and product), and 2 predicting none (will the user's next order contain any previously purchased products? This model only deptnds on the user). 

Interestingly, Kazuki decided to use more than just the provided training set to train his models. In addition to that, he included 3 previous purchases as well. 

His data exploration found that the most important features for predicting reorders were the 1) total number of times a user bought a specific item out of their last 5 purchases, 2) the proportion of a user's 5 most recent orders that contained an item, and 3) the longest amount of time a user has gone without buying an item in their last 5 orders.
The most important features for predicting none were whether or not a user tends to buy a lot of items at once, the maximum number of times a user has bought any item, and the maximum proportion of the 5 most recent orders in which the user bought a certain item.

An observation, he initially calculated his F1 score by using a yes/no threshold of 0.2, but came across a Kaggle discussion suggesting that different orders should have different thresholds. He then came up with a simulation algorithm and calculated the expected F1 score for each set of lables, starting with the highest probability items and then adding items until the F1 score peaked and then began to decrease.

.
.

<h3>Methodology</h3>
.
.
.

<h3>Results (Plots, tables, etc.)</h3>
.
.
.

<h3>Conclusions</h3>
.
.
.

<h3>References (APA Standard format)</h3>
.
.
.

<h3>Appendix (Code, other relevant documents, etc.)</h3>
.
.
.

In [3]:
import pandas as pd

aisles_data = pd.read_csv('aisles.csv')
aisles_data.head()

   aisle_id                       aisle
0         1       prepared soups salads
1         2           specialty cheeses
2         3         energy granola bars
3         4               instant foods
4         5  marinades meat preparation

In [4]:
departments_data = pd.read_csv('departments.csv')
departments_data.head()

   department_id department
0              1     frozen
1              2      other
2              3     bakery
3              4    produce
4              5    alcohol

In [5]:
orders_data = pd.read_csv('orders.csv')
orders_data.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [6]:
products_data = pd.read_csv('products.csv')
products_data.head()

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,2,All-Seasons Salt,104,13
2,3,Robust Golden Unsweetened Oolong Tea,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,5,Green Chile Anytime Sauce,5,13

In [7]:
sample = pd.read_csv('sample_submission.csv')
sample.head()

   order_id     products
0        17  39276 29259
1        34  39276 29259
2       137  39276 29259
3       182  39276 29259
4       257  39276 29259

In [11]:
op_prior = pd.read_csv('order_products__prior.csv')
op_prior.head()
print(op_prior[(op_prior.order_id == 17)])

Empty DataFrame
Columns: [order_id, product_id, add_to_cart_order, reordered]
Index: []

In [7]:
op_train = pd.read_csv('order_products__train.csv')
op_train.head()

   order_id  product_id  add_to_cart_order  reordered
0         1       49302                  1          1
1         1       11109                  2          1
2         1       10246                  3          0
3         1       49683                  4          0
4         1       43633                  5          1